<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}VoitureCom{% endblock %}</title>
    </head>
    <body>
        {% block body %}
        {% for marque in marques %}
        <div class='marques'>
            <h1>{{marque.nom}}<h1>
                <h5>{{marque.description}}</h5>
        </div>
        {% endfor %}
        {% endblock %}
    </body>
</html>